# DATA CLEANING

In [1]:
import pandas as pd
import os

In [2]:
# Creating Directory Cleaned data for storing cleaned Data

directory_path = "CLEANED DATA"
os.makedirs(directory_path, exist_ok=True)

# Target

# S&P/Case-Schiller U.S.National Home Price Index

In [3]:
# Reading target data
target = pd.read_csv("TARGET.csv")

In [4]:
target.head()

         DATE  target
0  1987-01-01  63.735
1  1987-02-01  64.135
2  1987-03-01  64.470
3  1987-04-01  64.973
4  1987-05-01  65.547

In [5]:
# Setting DATE as index, column renaming, setting DATE as index, filtering data

target.set_index('DATE', inplace = True)
target.rename(columns= {'TARGET': 'target'},inplace =True)
target.index = pd.to_datetime(target.index)
target = target["1987-01-01":"2023-07-01"]

In [6]:
target.shape

(439, 1)

In [7]:
target.to_csv("Cleaned data/target.csv")

# Population

# Population includes resident Population plus armed forces overseas

In [8]:
population = pd.read_csv('POPULATION.csv')

In [9]:
population.head()

         DATE    income
0  1987-01-01  241857.0
1  1987-02-01  242005.0
2  1987-03-01  242166.0
3  1987-04-01  242338.0
4  1987-05-01  242516.0

In [10]:
# Setting Date as index,column renaming,setting DATE as index, filtering data

population.set_index('DATE', inplace = True)
population.rename(columns= {'POPULATION':'population'}, inplace = True)
population.index = pd.to_datetime(population.index)
population = population["1987-01-01":"2023-07-01"]

In [11]:
population.shape

(439, 1)

In [12]:
population.to_csv("CLEANED DATA/population.csv")

# Personal Income

# Income that persons recieve in return for their provision of labour,land and capital used in current production and the net current transfer payments that they recieve from biusiness and from government

In [13]:
income = pd.read_csv('PINCOME.csv')

In [14]:
income.head()

         DATE      PI
0  1987-01-01  3820.2
1  1987-02-01  3845.0
2  1987-03-01  3863.8
3  1987-04-01  3875.4
4  1987-05-01  3908.6

In [15]:
# Settting Date as index, column renaming, setting Date as index, filtering data

income.set_index('DATE', inplace = True)
income.rename(columns= {"PINCOME": 'income'},inplace = True)
income.index = pd.to_datetime(income.index)
income = income["1987-01-01":"2023-07-01"]

In [16]:
income.shape

(439, 1)

In [17]:
income.to_csv("CLEANED DATA/income.csv")

# Gross Domestic Product

# Featured measures of U.S.output, is the market value of the goods and services produced by labour and property located in the United States

In [18]:
gdp = pd.read_csv("GDP.csv")

In [19]:
gdp.head()

         DATE       GDP
0  1987-01-01  4722.156
1  1987-02-01  4722.156
2  1987-03-01  4722.156
3  1987-04-01  4806.160
4  1987-05-01  4806.160

In [20]:
#Setting Date as index, column renaming, setting DATE as index,filtering data

gdp.set_index("DATE", inplace = True)
gdp.index = pd.to_datetime(gdp.index)

# Resampling
gdp = gdp.resample('M').ffill()

## Set the day of the index to 1
gdp.index = gdp.index.map(lambda x: x.replace(day=1))
gdp = gdp["1987-01-01":"2023-07-01"]

In [21]:
gdp.shape

(439, 1)

In [22]:
gdp.to_csv("CLEANED DATA/gdp.csv")

# Unemployment Rate

# The Unemployment rate represents the number of unemployed as a percentage of the labour force. (16 years age or above)

In [23]:
unemployed_rate = pd.read_csv("UNEMPLOYED.csv")

In [24]:
unemployed_rate.head()

         DATE  UNRATE
0  1987-01-01     6.6
1  1987-02-01     6.6
2  1987-03-01     6.6
3  1987-04-01     6.3
4  1987-05-01     6.3

In [25]:
# Setting DATE as index, column renaming, setting DATE as index, filtering data

unemployed_rate.set_index('DATE', inplace = True)
unemployed_rate.rename(columns= {'UNEMPLOYED': 'unemployed_rate'}, inplace = True)
unemployed_rate.index = pd.to_datetime(unemployed_rate.index)
unemployed_rate = unemployed_rate['1987-01-01':"2023-07-01"]

In [26]:
unemployed_rate.shape

(439, 1)

In [27]:
unemployed_rate.to_csv("CLEANED DATA/unemployed_rate.csv")

# Mortgage Rate

# A mortgage rate is the interest rate charged for a home loan.(Percentage)

In [28]:
mortgage = pd.read_csv("MORTGAGE.csv")

In [29]:
mortgage.head()

         DATE  mortgage_rate
0  1987-01-01         9.2040
1  1987-02-01         9.0825
2  1987-03-01         9.0350
3  1987-04-01         9.8325
4  1987-05-01        10.5960

In [30]:
# Setting DATE as index, column renaming, setting DATE as index, filtering data

mortgage.set_index("DATE", inplace = True)
mortgage.rename(columns= {"MORTGAGE":"mortgage_rate"}, inplace = True)
mortgage.index = pd.to_datetime(mortgage.index)
mortgage = mortgage ["1987-01-01":"2023-07-01"]

In [31]:
mortgage.shape

(439, 1)

In [32]:
mortgage.to_csv("CLEANED DATA/mortgage.csv")

# Employment-Population Ratio (EMRATIO)

In [33]:
emratio = pd.read_csv("EMRATIO.csv")

In [34]:
emratio.head()

         DATE  emratio
0  1987-01-01     61.0
1  1987-02-01     61.1
2  1987-03-01     61.2
3  1987-04-01     61.3
4  1987-05-01     61.6

In [35]:
# Setting DATE as index, column renaming, setting DATE as index ,filtering data

emratio.set_index('DATE', inplace = True)
emratio.rename(columns = {"EMRATIO": 'emratio'}, inplace = True)
emratio.index = pd.to_datetime(emratio.index)
emratio["1987-01-01":"2023-07-01"]

            emratio
DATE
1987-01-01     61.0
1987-02-01     61.1
1987-03-01     61.2
1987-04-01     61.3
1987-05-01     61.6
...             ...
2023-03-01     60.4
2023-04-01     60.4
2023-05-01     60.3
2023-06-01     60.3
2023-07-01     60.4

[439 rows x 1 columns]

In [36]:
emratio.shape

(439, 1)

In [37]:
emratio.to_csv("CLEANED DATA/emratio.csv")

# Building Construction Issued permit in US (Total Units)

In [38]:
permit = pd.read_csv("PERMIT.csv")

In [39]:
permit.head()

         DATE  permit
0  1987-01-01  1690.0
1  1987-02-01  1689.0
2  1987-03-01  1704.0
3  1987-04-01  1601.0
4  1987-05-01  1500.0

In [40]:
# Setting DATE as index, column renaming, setting DATE as index, filtering DATA

permit.set_index("DATE", inplace = True)
permit.rename(columns= {'PERMIT':'permit'}, inplace = True)
permit.index = pd.to_datetime(permit.index)
permit = permit["1987-01-01":"2023-07-01"]

In [41]:
permit.shape

(439, 1)

In [42]:
permit.to_csv("CLEANED DATA/permit.csv")

# Labor Force Participation Rate

# The participation rate is the percentage of the population that is either working or actively looking for work

In [43]:
labor_percent = pd.read_csv("LABOUR PER.csv")

In [44]:
labor_percent.head()

         DATE  CIVPART
0  1987-01-01     65.4
1  1987-02-01     65.5
2  1987-03-01     65.5
3  1987-04-01     65.4
4  1987-05-01     65.7

In [45]:
# Setting DATE as index, column renaming, setting DATe as index, filtering data

labor_percent.set_index("DATE" , inplace = True)
labor_percent.rename(columns = {"LABOUR PER": 'labor_percent'}, inplace = True)
labor_percent.index = pd.to_datetime(labor_percent.index)
labor_percent = labor_percent["1987-01-01":"2023-07-01"]

In [46]:
labor_percent.shape

(439, 1)

In [47]:
labor_percent.to_csv("CLEANED DATA/labor_percent.csv")

# Monthly Supply of New Houses in the United States

# The monthly supply is the ratio of new houses for sale to new houses sold.

In [48]:
monthly_supply = pd.read_csv("MONSUP.csv")

In [49]:
monthly_supply.head()

         DATE  MSACSR
0  1987-01-01     6.0
1  1987-02-01     6.2
2  1987-03-01     6.0
3  1987-04-01     6.0
4  1987-05-01     6.7

# Setting DATE as index, column renaming, setting DATE as index, filtering data

In [50]:
monthly_supply.set_index('DATE', inplace = True)
monthly_supply.rename(columns = {'MSACSR' : 'monthly_supply'}, inplace = True)
monthly_supply.index = pd.to_datetime(monthly_supply.index)
monthly_supply = monthly_supply["1987-01-01":"2023-07-01"]

In [51]:
monthly_supply.shape

(439, 1)

In [52]:
monthly_supply.to_csv("CLEANED DATA/monthly_supply.csv")

# Housing starts (New Housing Project)

# This is ameasure of tghe number of uniots of new housing projects started in a given period

In [53]:
House_starts = pd.read_csv("HOUST.csv")

In [54]:
House_starts.head()

         DATE   HOUST
0  1987-01-01  1774.0
1  1987-02-01  1784.0
2  1987-03-01  1726.0
3  1987-04-01  1614.0
4  1987-05-01  1628.0

In [55]:
# Settind DATE as index, column renaming, setting DATE as index, filtering DATA

House_starts.set_index("DATE", inplace = True)
House_starts.rename(columns={"HOUST": 'house_st'}, inplace = True)
House_starts.index = pd.to_datetime(House_starts.index)
House_starts = House_starts["1987-01-01":"2023-07-01"]

In [56]:
House_starts.shape

(439, 1)

In [57]:
House_starts.to_csv("CLEANED DATA/House_starts.csv")

# Median Sales Price

In [58]:
MspUS = pd.read_csv("MSPUS.csv")

In [59]:
MspUS.head()

         DATE     MSPUS
0  1987-01-01   97900.0
1  1987-04-01  103400.0
2  1987-07-01  106000.0
3  1987-10-01  111500.0
4  1988-01-01  110000.0

In [60]:
# Setting DATE as index, column renaming, setting DATE as index,filtering data 

MspUS.set_index('DATE', inplace = True)
MspUS.index = pd.to_datetime(MspUS.index)

# Resampling
MspUS = MspUS.resample('M').ffill()

MspUS.index = MspUS.index.map(lambda x: x.replace(day=1))
MspUS = MspUS["1987-01-01":"2023-07-01"]

In [61]:
MspUS.shape

(439, 1)

In [62]:
MspUS.to_csv("CLEANED DATA/MspUS.csv")

# All Employees, Construction (Thousands of persons)

# Construction employees in the construction sector include: Working supervisors,qualified craft workers, mechanics,helpers labors, engaged in work ,alteration, demolition, repair, maintaince.

In [63]:
total_emp_cons =pd.read_csv("TOTAL EMPLOY.csv")

In [64]:
total_emp_cons.head()

         DATE  USCONS
0  1939-01-01    1139
1  1939-02-01    1162
2  1939-03-01    1225
3  1939-04-01    1249
4  1939-05-01    1262

In [65]:
# Setting Date as index, COLUMN renaming, setting DATEas index, filtering data
total_emp_cons.set_index('DATE', inplace =True)
total_emp_cons.rename(columns= {'TOTAL EMPLOY': 'total_emp_cons'}, inplace =True)
total_emp_cons.index = pd.to_datetime(total_emp_cons.index)
total_emp_cons = total_emp_cons["1987-01-01":"2023-07-01"]

In [66]:
total_emp_cons.shape

(439, 1)

In [67]:
total_emp_cons.to_csv("CLEANED DATA/total_emp_cons.csv")

# Homeownership Rate (Percentage)

# The homeownership rate is the proportion of households that is owner occupied.

In [68]:
home_ow_rate = pd.read_csv("HOME OW RATE.csv")

In [69]:
home_ow_rate.head()

         DATE  RSAHORUSQ156S
0  1987-01-01           63.9
1  1987-04-01           63.9
2  1987-07-01           64.1
3  1987-10-01           64.1
4  1988-01-01           63.8

In [70]:
# Setting DATE as index, column renaming, setting DATE as index, filtering data

home_ow_rate.set_index('DATE', inplace = True)
home_ow_rate.index = pd.to_datetime(home_ow_rate.index)
home_ow_rate.rename(columns = {"HOME OW RATE": 'home_ow_rate'}, inplace = True)

#  Resampling
home_ow_rate = home_ow_rate.resample("M").ffill()

# Set the day of the index as 1
home_ow_rate.index = home_ow_rate.index.map(lambda x: x.replace(day=1))
home_ow_rate = home_ow_rate["1987-01-01":"2023-07-01"]

In [71]:
home_ow_rate.shape

(439, 1)

In [72]:
home_ow_rate.to_csv("CLEANED DATA/home_ow_rate.csv")

# Pesrsonal Saving Rate

Personal saving as apercentage of disposable personal income(DPI), frequently reffered to as "the personal saving rate", is calculated as the ratio of personal saving to DPI.Personal income is used either to provide funds to capital markets or to invest in real assets such as residences.

In [73]:
p_saving_rate = pd.read_csv("SAVING R.csv")

In [74]:
p_saving_rate.head()

         DATE  PSAVERT
0  1987-01-01      9.4
1  1987-02-01      8.2
2  1987-03-01      8.1
3  1987-04-01      4.1
4  1987-05-01      7.8

In [75]:
# Setting DATE as index, columnrenaming,setting DATE as index,filtering data

p_saving_rate.set_index('DATE', inplace = True)
p_saving_rate.rename(columns = {"SAVING R":"p_saving_rate"}, inplace = True)
p_saving_rate.index = pd.to_datetime(p_saving_rate.index)
p_saving_rate = p_saving_rate['1987-01-01':'2023-07-01']

In [76]:
p_saving_rate.shape

(439, 1)

In [77]:
p_saving_rate.to_csv("CLEANED DATA/p_saving_rate.csv")

# New Privately_ Owned Housing units Under Construction:(Total Units in thousands)

In [78]:
new_private_hw_under = pd.read_csv("NEW PRIVATE HO.csv")

In [79]:
new_private_hw_under.head()

         DATE  UNDCONTSA
0  1987-01-01     1090.0
1  1987-02-01     1096.0
2  1987-03-01     1084.0
3  1987-04-01     1079.0
4  1987-05-01     1070.0

In [80]:
# Setting Date as index, column renaming, setting Date as index, filtering data

new_private_hw_under.set_index('DATE', inplace = True)
new_private_hw_under.rename(columns = {"NEW PRIVATE HO":'new_private_hw_under'}, inplace = True)
new_private_hw_under.index = pd.to_datetime(new_private_hw_under.index)
new_private_hw_under = new_private_hw_under["1987-01-01":"2023-07-01"]

In [82]:
new_private_hw_under.shape

(439, 1)

In [83]:
new_private_hw_under.to_csv("CLEANED DATA/new_private_hw_under.csv")